<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:site_name" v-bind:content="firstName + '\'s Scrapbook">
  <meta property="og:title" v-bind:content="contents[selected] ? titleCase(selected) : 'Scrapbook'">
  <title>
    <template v-if="contents[selected]">{{ titleCase(selected) }} | </template>{{ firstName }}'s Scrapbook
  </title>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet">
  <link href="stylesheet.css" rel="stylesheet">
</head>
<body>
  <div id="app" v-bind:class="contents[selected] ? 'detail' : 'grid'">
    <h1 class="title">
      <a
        class="title__link"
        href="#"
        v-on:click="selected = ''"
      >
        {{ firstName }}'s Scrapbook
      </a>
    </h1>
    <h2
      v-if="contents[selected]"
      class="scrap-title"
    >
      {{ selected }}
    </h2>
    <div class="snapchat-creative-kit-share share-button"></div>
    <template v-if="contents[selected]">
      <img
        class="image"
        data-tilt
        data-tilt-full-page-listening
        data-tilt-max="5"
        v-bind:src="contents[selected]['src']"
      />
      <p v-if="contents[selected]['note']" class="note">{{ contents[selected]['note'] }}</p>
    </template>
    <div class="grid__items" v-else>
      <a
        v-for="(scrap, name) in contents"
        class="grid__item"
        data-tilt
        data-tilt-max="5"
        v-bind:href="'#' + name"
        v-on:click="selected = name"
      >
        <img
          class="grid__image"
          v-bind:src="scrap['src']"
        >
      </a>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-yaml/dist/js-yaml.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanilla-tilt/dist/vanilla-tilt.min.js"></script>
  <script>
    // Load the SDK asynchronously
    (function (d, s, id) {
    var js, sjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://sdk.snapkit.com/js/v1/create.js";
    sjs.parentNode.insertBefore(js, sjs);
    }(document, 'script', 'snapkit-creative-kit-sdk'));
  </script>
  <script src="script.js"></script>
</body>
</html>
