<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{firstName}}'s Scrapbook</title>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet">
  <link href="stylesheet.css" rel="stylesheet">
</head>
<body>
    <header class="header">
      <h1 class="title title--grid">
        <a class="title__link" href="index.html">{{firstName}}'s Scrapbook</a>
      </h1>
      <!--  Place your Creative Kit for Web share button here -->
    </header>
    <main class="grid">
      <div class="grid__items">
        {{#entries}}
          <a
            class="grid__item"
            href="{{id}}.html"
            data-tilt
            data-tilt-max="5"
          >
            <img
              class="grid__image"
              src="{{{src}}}"
            />
          </a>
        {{/entries}}
      </div>
    </main>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-yaml/dist/js-yaml.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanilla-tilt/dist/vanilla-tilt.min.js"></script>
</body>
</html>
